/*-- scss:defaults --*/
  // colors
   $custom-h2: #5fa3b0;
   $custom-h3: #ee803c;

   // fonts
$font-family-sans-serif: "Lato Light" !default;
$presentation-heading-font:	"Lato Regular" !default;
$presentation-font-size-root: 30px !default;
$presentation-font-smaller: 0.6 !default;
$presentation-h2-font-size: 1.4em !default;
$presentation-h3-font-size: 1.2em !default;
  
.reveal .slide-logo {
    height: 69px !important;
    width: 194px !important;
    max-width: 20% !important;
    max-height: 15% !important;
  }

  .reveal section h2 {
    color: $custom-h2;
  }

  .reveal section h3 {
    color: $custom-h3;
  }

  b, strong   {
    color: #5fa3b0;
}